/* General */

body{
padding: 0;
margin: 0;
border-box: box-sizing;
}

a{
  text-decoration: none;
  color: white;
}

/* Overlay */
.overlay{
height: 100vh;
width: 100%;
background: #0E6DC6;
position: absolute;
top:0;
left:0;
z-index:10;
opacity:.86
}

/* Header */

.header{
  height: 100vh;
  background-size: cover;
  position: relative;
  color: white;
}

/*  Navigation */
nav{
  height: 60px;
  background: transparent;
  border-bottom: 1px white solid;
  position: relative;
  z-index: 20;
}

nav .navContent{
  display: flex;
  align-items:center;
}

.logo{
font-size: 2rem;
}

.menu{
  display:flex;
  line-height:60px;
  margin-left:auto;
}

.menu_item{
  margin-left: 1.7rem;
}

/************* Hero ****************/

.hero{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 20;
  height: 90vh;
}
.left h1{
  font-size: 3.5rem;
  padding-bottom: .7rem;
}

.left p{
  font-size: 1.1rem;
  padding-bottom: .7rem;
  color: white;
  opacity: .8;
}

.abt_btn{
  border: none;
  background: unset;
  color: white;
  border: 1px solid white;
  padding: .5rem 4rem;
  border-radius: 7px;
  transition: .2s ease-in;
}

.abt_btn:hover{
  color: #0E6DC6;
  background: #fff;
  padding: .5rem 4rem;
  border-radius: 7px;
  transition: .2s ease-in;
  transform: scale(.9);
}

.right{
  text-align: left;
}

.left{
  text-align: right;
}

.phone{
width: 100%;
}

@media only screen and (max-width: 996px)  {
  .left h1{
    font-size: 2.5rem;
    padding-bottom: .7rem;
  }
}

@media only screen and (max-width: 768px)  {
  .hero{
    grid-template-columns:1fr;
  }

  .left h1{
    font-size: 3rem;
    padding-bottom: .4rem;
  }
  .left{
    text-align: center;
  }

  .phone{
    text-align: center;
    width: 65%;
    margin-left: 2rem;
    }
    .right{
      text-align: center;
    }
}